body { 
    width: 70%;
    margin: 0 auto;
    font: 100% Tahoma;
    background-color: #919691;
}

/* Header style */
h1 {
    font-family: fantasy;
    font-style: italic;
    font-size: 36pt;
    color: steelblue;
    text-shadow: 4px 4px  rgb(13, 13, 14);
    text-align: center;
    
}

/* Paragraph Header style */
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 24pt;
    color: skyblue;
    text-shadow: 4px 4px  rgb(13, 13, 14);
    text-decoration: underline blue;

}

/* Image Float*/
img {
    float: left;
}

p {
    text-indent: 25px;
}